%section.home-splash
  .container.u-hide-overflow
    %header.text-center
      %h1.jumbo-heading
        Concurrent DevOps
      %h2.page-subtitle
        A single application for the complete DevOps lifecycle

      %a.btn.cta-btn.accent{href: "/products/"}
        Try GitLab for Free
