//
// Utility classes start with `u-` and are used to apply basic, self-contained
// styling to markup.
//

// Spacing helpers - Define standard spacing elements
@each $scale, $size in (0: 0, xs: $spacing-unit-xs, sm: $spacing-unit-sm, md: $spacing-unit-md, lg: $spacing-unit-lg, xl: $spacing-unit-xl) {
  @each $side in (top, right, bottom, left) {
    @each $property in (margin, padding) {
      %u-#{$property}-#{$side}-#{$scale},
      .u-#{$property}-#{$side}-#{$scale} {
        #{$property}-#{$side}: ($size / 2);

        @media (min-width: $screen-md-min) {
          #{$property}-#{$side}: $size;
        }
      }

      .u-#{$property}-#{$side}-#{$scale}-const {
        #{$property}-#{$side}: $size;
      }

      .u-#{$property}-#{$side}-#{$scale}-if-md {
        @media (max-width: $screen-md-max) {
          #{$property}-#{$side}: $size;
        }
      }

      .u-#{$property}-#{$side}-#{$scale}-if-sm {
        @media (max-width: $screen-sm-max) {
          #{$property}-#{$side}: $size;
        }
      }

      .u-#{$property}-#{$side}-#{$scale}-if-xs {
        @media (max-width: $screen-xs-max) {
          #{$property}-#{$side}: $size;
        }
      }
    }
  }
}

// Break out of container and go fill width on page.
// May cause horizontal scrollbars if parent or ancestor does not specify
// `overflow-x: hidden`
%u-release,
.u-release {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.u-image-bg {
  background-position: 50% 50%;
  background-size: cover;
}

// Make columns only 20px apart, not 30px apart
.u-close-columns {
  margin-left: -10px;
  margin-right: -10px;

  > [class^="col"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-placeholder {
  border: 2px solid $color-accent;
}

.u-hide-overflow-x {
  overflow-x: hidden;
}

.u-hide-overflow {
  overflow: hidden;
}

.u-subtle-bg {
  background-color: $color-gray-extra-light-alt;
}

.u-text-light {
  color: $color-white;
}

.u-text-brand {
  color: $color-primary;
}
