@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.tam-container {
  max-width: $screen-md-min;
  margin: auto;
  padding: 0 20px;

  p,
  li {
    font-size: 1.2em;
    line-height: 1.8em;
  }

}

.tam-feature {
  padding: 80px 0;

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  li {
    margin-top: .5em;
    line-height: 1.6em;
  }

}

.tam-header {
  padding: 120px 20px;
  text-align: center;
}

.messaging-container {
  margin-bottom: 80px;

  .message {
    border-radius: 3px;
    box-shadow: 0 10px 20px $blog-color-border-shadow;
    padding: 30px 40px;
    background: $color-white;
  }

  p:first-child {
    padding-right: 30px;
  }

}
